@use 'sass:color';

.theme-clockwork:root {
  // Base
  --color-primary: #b18b25;
  --color-good: #cfba47;
  --color-average: #896b19;
  --color-bad: #5f380e;
  --color-base: #5f380e;
  --color-base-start: #b18b25;
  --color-base-end: #5f380e;
  --color-secondary: #5f380e;

  // Components
  --button-background-default: #b18b25;
  --button-background-disabled: #665c3c;
  --button-background-selected: #cfba47;
  --button-background-caution: #ffae42;
  --button-background-danger: #ffff00;
  --tooltip-background: #2d1400;
  --section-separator-color: #d6ca85;
  --divider-color: #d6ca85;
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --input-color: #b18b25;
  --input-background: #cfba47;

  // TitleBar
  --titlebar-background: #5f380e;
  --titlebar-shadow-color: rgba(0, 0, 0, 0.1);
  --titlebar-shadow-core: rgba(0, 0, 0, 0.1);
  --titlebar-text: #cfba47;

  // Layouts
  .Layout__content {
    background-image: none;
  }
}
