@use 'sass:color';
@use 'sass:meta';

$generic: #484455;
$accent: #4f56a5;
$accent-2: #daa520;
$border-color: #7b86ff;

.theme-generic:root {
  // Base
  --color-primary: $accent;
  --color-bg: color.scale($generic, $lightness: -45%);

  // Components
  --button-color-default: $accent;
  --button-color-transparent: rgba(227, 240, 255, 0.75);
  --button-background-selected: $accent-2;
  --progress-bar-fill: $accent;
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --input-border-color: $border-color;

  // TitleBar
  --titlebar-background: color.scale($generic, $lightness: -25%);

  // Layouts
  .Layout__content {
    background-image: none;
  }
}
