.theme-UnionStand:root {
  // Base
  --color-base: hsl(197.14, 6.67%, 20.59%);
  --color-primary: hsl(166, 66%, 48%);
  --color-action: hsl(155.23, 60.89%, 35.1%);
  --base-gradient-spread: 6;

  // Components
  --button-color-transparent: var(--color-action);
  --tooltip-background-lightness: 33;

  .Layout__content {
    background-image: url('../../assets/bg-cargo.svg');
    background-size: cover;
    background-size: 60%;

    border-style: dashed;
    border-color: hsl(166.44, 74.68%, 53.53%);
    border-radius: 5px;
  }
  --color-good: hsl(155, 67%, 40%);
  --color-bad: hsl(153, 67%, 15%);
}
